* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
section {
  
  width: 95%;
  padding: 22px 22px;
  background-color: whitesmoke;
  margin-left: 5px;
  font-size: 18px;
}
nav {
  display: flex;
  width: 95%;
  padding: 20px;
  justify-content: left;
  bottom: 30%;
  background-color: whitesmoke;
}
.logo {
  width: 100px;
  height: 100px;
  margin-top: -20px;
  border-radius: 15%;
  border-color: #555;
}
.logo:hover{
  transform: translateX(-0.25em);
}

nav ul li {
  display: inline-block;
  align-items: left;
  margin: 10px 20px;
}
nav ul li a {
  float: left;
  text-align: center;
  
  transition: all 0.3s ease;
  color: black;
  background-color: whitesmoke;
  font-size: 20px;
}

nav ul li a:hover {
  border-color: red;
  color: red;
  box-shadow: 0 0.5em 0.5em -0.4em red;
  transform: translateY(-0.25em);
  cursor: pointer;
}



span {
  color: orange;
}
.detel p {
  color: red;
  line-height: 22px;
  background-color: #338a6d;
}

div a {
  background: #212121;
  padding: 10px 18px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin: 30px 0;
  border-radius: 5px;
}
div a:hover {
  border-color: lightblue;
  color: lightblue;
  box-shadow: 0 0.5em 0.5em -0.4em lightblue;
  transform: translateY(-0.25em);
  cursor: pointer;
}
div ol li {
  margin-top: 10px;
  margin-bottom: 10px;
}
div h2 {
  text-align: center;
  padding: 10px;
}

div ol {
  margin-left: 20px;
}
td, th {
  text-align: left;
  padding: 8px;
}

div {
  
  width: 95%;
  padding: 22px 22px;
  background-color: lightgoldenrodyellow;
  margin-left: 5px;
  font-size: 18px;
}
#about {
  
  width: 95%;
  padding: 22px 22px;
  background-color: lightgoldenrodyellow;
  margin-left: 5px;
  font-size: 18px;
}
div h2:hover{
  border-color: whitesmoke;
  color: purple;
  box-shadow: 0 0.1px 2px -2px  whitesmoke;
  transform: translateX(-0.25em);
  cursor: pointer;
}
#hobbies {
  
  width: 95%;
  padding: 22px 22px;
  background-color:  lightgoldenrodyellow;
  margin-left: 5px;
  font-size: 18px;
}
#achievements {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: flex-end;
  width: 95%;
  padding: 22px 22px;
  background-color: lightgoldenrodyellow;
  margin-left: 5px;
  font-size: 18px;
  max-height: 300px;
  max-width: 95%;
}
#achievements img{
  display: flex;
  align-items: right;
  margin-right: 10%;
}
#achievements:hover{
  transform: translateY(-0.5em);
  border-radius: 30%;
}
#hobbies:hover{
  transform: translateY(-0.5em);
}
#about:hover{
  transform: translateY(-0.5em);
  border-radius: 30%;
}
#education:hover{
  transform: translateY(-0.5em);
}
#projects:hover{
  transform: translateY(-0.5em);
}
#contact{
  display: grid;
  
}
nav:hover{
  transform: translateY(0.5em);
}